@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap');

.website_features
{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: linear-gradient(0deg,grey 50%, white);
}
.website_features .container
{
    max-width: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.5s;
}
.website_features .container:hover .card
{
    filter: blur(5px);
    transform: scale(.7);
}
.website_features .container .card
{
    position: relative;
    width: 250px;
    height: 300px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

}
.website_features .container .card:hover
{
    filter: blur(0px);
    transform: scale(1);
}
.website_features .container .card:before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    transition: 0.5s;
}
.website_features .container .card:hover:before
{
    background: #000;
    transform: scaleY(1.15);
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}
.website_features .container .card:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transition: 0.5s;
    background: rgba(255,255,255,.1);
    z-index: 1;
}
.website_features .container .card:hover:after
{
    transform: scaleY(1.15);
}
.website_features .container .card:hover
{
    z-index: 1;
}
.website_features .container .card .content
{
    text-align: center;
    z-index: 2;
    padding: 0 20px;
    transition: 0.5s;
}
.website_features .container .card:hover .content
{
    color: #fff;
}
.website_features .container .card .content h2
{
    font-size: 3em;
}
.website_features .container .card .content p
{
    font-size: 0.9em;
}
.website_features .container .card .content a
{
    display: inline-block;
    margin-top: 15px;
    padding: 5px 10px;
    background: #262626;
    color: #fff;
    text-decoration: none;
}
.website_features .container .card:hover .content a
{
    background: #2196F3;
}